/*  layout.css
 *  main css for Wesnoth Canvas
 *  last updated 21 Aug 12
 */

@font-face {
  font-family: "Gentium Basic";
  src: url(../fonts/GenBasR.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gentium Basic";
  src: url(../fonts/GenBasI.ttf);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Gentium Basic";
  src: url(../fonts/GenBasB.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gentium Basic";
  src: url(../fonts/GenBasBI.ttf);
  font-weight: bold;
  font-style: italic;
}

body {
  padding: 0px;
  margin: 0px;
  border: 0px;
  -webkit-font-smoothing: antialiased;
}

#canvas {
  width: 800px;
  height: 600px;
  overflow: hidden;
  position: relative;
}

#status1 {
  overflow: hidden;
  position: absolute;
}

#code {
  font-family: monospace;
  margin-top: 8px;
  border: 1px solid #333;
  width: 800px;
  height: 100px;
  position: absolute;
  top: 24px;
  left: 8px;
  z-index: 1;
}

#console {
  display: none;
  position: absolute;
  color: #fff;
  background-color: #000;
  font-size: 14px;
  border: 2px solid #fff;
  font-family: 'Consolas', 'Inconsolata', 'Lucida Console', monospace;
}