/*  layout.css
 *  main css for Wesnoth Canvas
 *  last updated 5 Jul 12
 */

body {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

#canvas {
  width: 800px;
  height: 600px;
  overflow: hidden;
  position: relative;
}

#code {
  font-family: monospace;
  margin-top: 8px;
  border: 1px solid #333;
  width: 800px;
  height: 100px;
}

#show-hide {
  display: none;
  float: right;
}